import { I{{Module}} } from '../Model/{{Module}}';
// only for debugging
// import { dd } from '../Lib/Debug';

export class {{Module}} implements I{{Module}} {
	public id: string;{{propDefinition}}
	public createdAt: Date;
	public updatedAt: Date;

	constructor(params = null) {
		this.id = params.id || `${params._id}`;{{propAssign}}
		this.createdAt = params.createdAt;
		this.updatedAt = params.updatedAt;
	}
}
